body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  background: url(images/2019_Summit-bkg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height:100%;
}

html{
    height:100%;
    min-height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-circle.btn-xl {
    width: 80px;
    height: 80px;
    padding: 10px 16px;
    border-radius: 45px;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.33;
    margin:10px;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loading.gif) center no-repeat;
}

.vote {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

@media (max-width: 575.98px) {
  .btn-circle.btn-xl {
      width: 55px;
      height: 55px;
      padding: 5px 0px;
      border-radius: 30px;
      font-size: 15px;
      font-weight: 800;
      line-height: 1;
      margin:5px;
  }

  h3{
    font-size: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .btn-circle.btn-xl {
    margin: 20px;
    width: 170px;
    height: 170px;
    border-radius: 90px;
    font-size: 70px;
  } }
